@(teamId: Option[Long], mission: List[MissionWithStatus])(implicit flash: Flash)

@admin.main {
  @teamId.map { teamId =>
    @Team.findOneByIndex(teamId).map { team =>
      <h1>@team.name 팀 미션관리</h1>
    }
    <ol>
    @mission.map { m =>
      <li>@m.name 미션 
      @if(m.status=="progress") {
      <form action="@routes.Admins.complete(teamId, m.id.toString.toLong)" method="POST">

      <input type="submit" class="btn btn-success" value="미션완료" name="submit" />
      </form>
      } </li>
    }
    </ol>
  }.getOrElse {
    @Team.findAll.map { team =>
      <a href="@routes.Admins.completeMission(team.index.toString.toLong)">@team.name 팀 미션 관리</a>
    }
  } 
}