@(team: Team)(implicit flash: Flash)
@main {
  
<div class="hero-unit">
  <h1>Hello! @team.name 팀</h1>
  <p>
    너희들은 미션을 진행해야되 위 메뉴에 현재 미션을 눌러서 지금 미션을 확인해봐! 시작을 눌러서 시작하면 시작될거야.
  <br />
  <br />
    다음 미션은 미션이 완료되면 다음미션 메뉴에 표시되니까 잘 보면서 가라구!
  </p>

  <p>
    <h3>너희 2팀중 한명은 다니엘로 선택되었어, 그 한명을 지키거나 찾아내서 아웃시키면되! 다음은 경기 규칙이야</h3>
    <ol>
      <li>현재 미션에 들어가서 미션 장소를 확인후에 미션장소에 간다.</li>
      <li>미션장소에 도착후 미션시작을 누른다. 이때부터 시간이 카운트된다.</li>
      <li>도전 제한시간이 있으며, 실패시 1분을 기다려야한다.</li>
      <li>미션은 10분안에 성공해야하며, 걸린시간 / 10 으로 나눠서 총알의 양을 받을수있다.</li>
      <li>미션이 10분이 넘어갈시 넘어간시간 / 10 으로 나눠서 총알을 빼앗기게된다.</li>
      <li>획득한 총알로 모든 미션이 끝난후 다니엘을 찾거나, 방어할수있도록 총과함께 사용할수있다.</li>
    </ol>
  </p>
</div>
}