@(team: Team, mission: MissionWithStatus)(implicit flash: Flash)
@main(Some(team) ) {
  <div class="hero-unit">
  <h1>@mission.name</h1>
  <p>
  @mission.description
  </p>

  @if(mission.name == "여러번 말해요") {
    <h3>@Question.findRandom("speak", 1).head.question<h3>
  }

  @if(mission.name == "볼링") {
    <div id="ball-random">
      <h2 id="pin-num" class="inline">
      @{
          util.Random.shuffle(List[Long](
            1,
            2,
            3,
            4,
            5,
            6
          )).head
        }
         
      </h2> 개를(을) 
      <h2 class="inline" id="ball-kind">
        @{

          util.Random.shuffle(List[String](
            "장풍",
            "이쑤시개",
            "공",
            "공",
            "탁구공",
            "탁구공",
            "탁구공",
            "종이컵",
            "종이컵"
          )).head
        }
      </h2>로(으로) 쓰려트려야합니다.
    </div>
  }


  <p>
    @if(mission.status == "current") {
      <h3> 장소 @mission.place </h3>
      <a href="@routes.Teams.startMission(team.index.toString.toLong, mission.id.toString.toLong)" class="btn btn-success btn-large">
      시작하기
      </a>
   } 
   @if(mission.status =="progress") {
        <button class="btn btn-primary disabled">
        진행중
        </button>
    }
  </p>
</div> 
}